<article class="case-study {{company_url}}">
  <h2>{{{title}}}</h2>
  <p class="summary">{{summary}}</p>
  {{> screenGroup this}}
  <nav>
    <a class="primary-action" href="/case-study/{{company_url}}" title="Read the full {{company_name}} case study.">Read my {{company_name}} case study</a>
  </nav>
</article>
