<article class="case-study">
  <h1>Case Study / <span class="client">{{case.client_name}}</span></h1>
  <img src="/images/case-studies/{{case.client_url}}/callout.jpg" alt="{{case.client_name}} samples on various devices (phones, tablets, computers, etc.)">
  <ul class="attributes">
        <li class="domain">
          {{{case.domain}}}
        </li>
        <li class="platform">
          {{{case.platform}}}
        </li>
        <li class="expertise">
          {{{case.expertise}}}
        </li>
      </ul>
  <p class="summary">
    {{case.summary}}
  </p>
  <nav class="actions">
    <ul>
      <li>
        <a href="/case-study/client/{{case.client_url}}" title="Read the full {{case.client_name}} case study.">Read the case study</a>
      </li>
      <li>
        <a href="/case-studies">See more case studies</a>
      </li>
    </ul>
  </nav>
</article>
