<article class="case-study">
  <h1>Case Study / <span class="client">{{client}}</span></h1>
  <img src="/images/case-studies/{{client_url}}/callout.jpg" alt="{{client}} samples on various devices (phones, tablets, computers, etc.)">
  <h2>{{attributes}}</h2>
  <p class="summary">
    {{summary}}
  </p>
  <nav class="actions">
    <ul>
      <li>
        <a href="/case-study/client/{{client_url}}" title="Read the full {{client}} case study.">Read the case study</a>
      </li>
      <li>
        <a href="/case-studies">See more case studies</a>
      </li>
    </ul>
  </nav>
</article>
