<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay Sylvester — Case Study: {{client_name}}</title>
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="{{meta_keywords}}">
    <link rel="stylesheet" type="text/css" href="/min/site.css">
    <script type="text/javascript" src="/min/site.js"></script>
  </head>
  <body data-client="{{client_url}}" data-controller="{{route.controller}}" data-action="{{route.action}}" data-view="{{route.view}}" data-renderer="{{route.renderer}}" data-rendered-view="{{route.renderedView}}" data-show="{{route.show}}" data-task="{{route.task}}" data-type="{{route.type}}" data-mode="{{config.citizen.mode}}">
    {{{include.header}}}
    <main class="case-study {{client_url}}">
      <section class="logo">
        <img class="logo" src="https://res.cloudinary.com/tehinnernets/image/upload/q_60,h_160/jaysylvester.com/case-studies/{{client_url}}/{{client_url}}-logo.png" alt="{{client_name}} logo">
      </section>
      <h1><span>Case Study:</span> {{{title}}}</h1>
      <ul class="attributes">
        <li class="vertical">
          {{{vertical}}}
        </li>
        <li class="platform">
          {{{platform}}}
        </li>
        <li class="expertise">
          {{{expertise}}}
        </li>
      </ul>
      <p class="tagline">{{tagline}}</p>
      <p class="summary">{{summary}}</p>
      <section class="devices">
        <noscript>
          <img class="devices" src="https://res.cloudinary.com/tehinnernets/image/upload/f_auto,q_50/jaysylvester.com/case-studies/{{client_url}}/{{client_url}}-devices.png" alt="{{client_name}} products displayed on various devices (laptop, tablet, phone, etc.).">
        </noscript>
        <img class="devices" data-src="https://res.cloudinary.com/tehinnernets/image/upload/f_auto,q_50/jaysylvester.com/case-studies/{{client_url}}/{{client_url}}-devices.png" alt="{{client_name}} products displayed on various devices (laptop, tablet, phone, etc.).">
      </section>
      <section class="content">
        {{{content}}}
      </section>
      <section class="screens">
        {{#each screens}}
          <figure role="group" class="screens">
            <section>
              {{#each this.screens}}
                <figure>
                  <a class="new-tab" href="https://res.cloudinary.com/tehinnernets/image/upload/f_auto,q_50/jaysylvester.com/screens/{{this.url}}" target="_blank" title="Open this image in a new tab">
                    <noscript>
                      <img src="https://res.cloudinary.com/tehinnernets/image/upload/f_auto,q_50,w_500/jaysylvester.com/screens/{{this.url}}" alt="{{this.alt}}">
                    </noscript>
                    <img data-src="https://res.cloudinary.com/tehinnernets/image/upload/[parameters]/jaysylvester.com/screens/{{this.url}}" alt="{{this.alt}}">
                  </a>
                </figure>
              {{/each}}
            </section>
            <figcaption>{{{this.category}}}</figcaption>
          </figure>
        {{/each}}
      </section>
      <nav class="actions">
        <a class="primary-action" href="/case-studies">Read more case studies</a>
      </nav>
    </main>
    {{{include.footer}}}
  </body>
</html>
