<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay Sylvester — UX Case Study: {{case.client_name}}</title>
    <meta name="description" content="{{case.meta_description}}">
    <meta name="keywords" content="{{case.meta_keywords}}">
    <link rel="stylesheet" type="text/css" href="/min/site.css">
    <script type="text/javascript" src="/min/site.js"></script>
  </head>
  <body data-controller="{{route.controller}}" data-action="{{route.action}}" data-view="{{route.view}}" data-renderer="{{route.renderer}}" data-rendered-view="{{route.renderedView}}" data-show="{{route.show}}" data-task="{{route.task}}" data-type="{{route.type}}" data-mode="{{config.citizen.mode}}">
    {{{include.header}}}
    <main>
      <section class="logo">
        <img class="logo" src="https://res.cloudinary.com/tehinnernets/image/upload/q_60,h_160/jaysylvester.com/case-studies/{{case.client_url}}/{{case.client_url}}-logo.png" alt="{{case.client_name}} logo">
      </section>
      <h1><span>Case Study:</span> {{{case.title}}}</h1>
      <ul class="attributes">
        <li class="domain">
          {{{case.domain}}}
        </li>
        <li class="platform">
          {{{case.platform}}}
        </li>
        <li class="expertise">
          {{{case.expertise}}}
        </li>
      </ul>
      <p class="tagline">{{case.tagline}}</p>
      <p class="summary">{{case.summary}}</p>
      <img class="devices" data-src="https://res.cloudinary.com/tehinnernets/image/upload/q_60,[parameters]/jaysylvester.com/case-studies/{{case.client_url}}/{{case.client_url}}-devices.png" alt="{{case.client_name}} products displayed on various devices (laptop, tablet, phone, etc.).">
      <section class="content">
        {{{case.content}}}
      </section>
      <a class="primary-action" href="/case-studies">Read more case studies</a>
    </main>
    {{{include.footer}}}
  </body>
</html>
