<!doctype html>
<html lang="en">
  {{{include.head}}}
  <body data-controller="{{route.controller}}" data-action="{{route.action}}">
    {{{include.header}}}
    <main>
      {{#each route.chain}}
        {{{output}}}
      {{/each}}
    </main>
    {{{include.footer}}}
  </body>
</html>
