<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay Sylvester — UX Manager/Director, Designer, and Engineer</title>
    <meta name="description" content="I'm a UX director/lead with almost 20 years experience spanning user research, user experience design, and full stack development.">
    <meta name="keywords" content="UX, UI, user experience, ux manager, ux lead, ux director, ux researcher, ux consultant">
    <link rel="stylesheet" type="text/css" href="/min/site.css?v={{config.cacheBuster.css}}">
    <script type="text/javascript" src="/min/site.js?v={{config.cacheBuster.js}}"></script>
  </head>
  <body data-controller="{{route.controller}}" data-action="{{route.action}}" data-view="{{route.view}}" data-renderer="{{route.renderer}}" data-rendered-view="{{route.renderedView}}" data-show="{{route.show}}" data-task="{{route.task}}" data-type="{{route.type}}" data-mode="{{config.citizen.mode}}">
    {{{include.header}}}
    <main>
      <h1>I'm a UX designer and engineer,<br> and I lead teams who create great experiences.</h1>
      <p>Sometimes, when design and development love each other very much, they have a baby. Don't be scared; it's the future. I make web sites and apps easier to use through careful research, inspired design, cross-functional collaboration, and thoughtful leadership.</p>
      <section class="case-studies">
        <h2>I'm not into designing fluffy landing pages. I solve complex problems.</h2>
        <p>The following case studies delve into a few of the design and front end dev projects I've led:</p>
        {{{include.caseStudies}}}
        <nav class="more">
          <a href="/case-studies" class="primary-action">View all case studies</a>
        </nav>
      </section>
      <section class="endorsements">
        <h2>Here are some nice things people have said about me with minimal prompting:</h2>
        <article class="endorsement">
          <p>Not only were his personal designs fantastic, Jay built an amazing team at Znode and introduced new ways of working which impressed me with their flexibity, speed and quality of output. He established himself as a leader in design, technology and development ops and made a huge contribution to every project he was involved in as well as the overall culture.
          </p>
          <span class="byline">— Phillip N.</span>
        </article>
        <article class="endorsement">
          <p>Jay is one of the best managers I’ve worked with in my career. Jay is an exceptional leader, inclusive and involved in the process, without micromanaging. He trusts in his team, and is receptive to feedback. Working on Jay’s team, I felt energized with what we were creating, and that I was delivering my best. He has shown a deep understanding of the UX design and development process. 
          </p>
          <span class="byline">— Brad W.</span>
        </article>
        <article class="endorsement">
          <p>Many of the best ideas we've had for improving our sites at Abercrombie &amp; Fitch started during conversations with Jay. It's been refreshing to work with a developer who gives so much consideration to Usability, Accessibility, and Design - and is interested in discussing and collaborating. He is not satisfied with just getting by and pushes for genuine quality and improvement.
          </p>
          <span class="byline">— Jason L.</span>
        </article>
        {{!-- <article class="endorsement">
          <p>Jay is the ideal person to lead a team. He has the technical knowledge to push a team in the right direction, but the leadership skills to know how to let that team work independently. In the time I worked for him he kept a perfect balance of demanding high quality work, while defending and promoting our work outside the team—something necessary in a large organization.
          </p>
          <span class="byline">— Jason G.</span>
        </article> --}}
        <article class="endorsement">
          <p>I've never seen a manager quite like him. He has a unique and effective leadership and management style that gives developers freedom and flexibility to do their work at the same time providing excellent guidance and establishing clear standards to help the team deliver highest quality work.
          </p>
          <span class="byline">— Kenny C.</span>
        </article>
        <article class="endorsement">
          <p>I've been working on the web for a long time, and to be able to work with someone that pushed me to learn more for all the right reasons was a breath of fresh air. Jay would be an asset to any frontend team and I can only hope our paths cross again.
          </p>
          <span class="byline">— Brian V.</span>
        </article>
        <article class="endorsement">
          <p>Jay and I worked very closely together on a number of high-visibility projects. His professionalism and acuity for user-oriented design and development, combined with his sense of humor, helped us deliver projects on time that exceeded the expectations of management and client alike.
          </p>
          <span class="byline">— Pete R.</span>
        </article>
        {{!-- <article class="endorsement">
          <p>Jay's strict attention to detail, efficiency, quality, and standards make him someone you want on your side when you're tackling a big project.
          </p>
          <span class="byline">— Mack C.</span>
        </article> --}}
        <nav class="more">
          <a href="https://www.linkedin.com/in/jaysylvester" target="_blank" class="primary-action">Read more testimonials on LinkedIn</a>
        </nav>
      </section>
    </main>
    {{{include.footer}}}
  </body>
</html>
