<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jay Sylvester: UX Director &amp; Consultant</title>
    <meta name="description" content="I'm a UX director/lead with almost 20 years experience spanning user research, user experience design, and front end development.">
    <meta name="keywords" content="UX, UI, user experience, ux manager, ux lead, ux director, ux researcher, ux consultant">
    <link rel="stylesheet" type="text/css" href="/min/site.css">
  </head>
  <body data-controller="{{route.controller}}" data-action="{{route.action}}" data-view="{{route.view}}" data-renderer="{{route.renderer}}" data-rendered-view="{{route.renderedView}}" data-show="{{route.show}}" data-task="{{route.task}}" data-type="{{route.type}}" data-mode="{{config.citizen.mode}}">
    <header>
      <h1>
        Jay Sylvester
      </h1>
      <nav>
        <ul>
          <li class="home">
            <a href="/">Home</a>
          </li>
          <li class="work-history">
            <a href="/work-history">Work History</a>
          </li>
          <li class="case-studies">
            <a href="/case-studies">Case Studies</a>
          </li>
          <li class="contact">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">Clever tagline</section>
      <section class="skills">
        <ul>
          <li>Leadership</li>
          <li>User Research</li>
          <li>Information Architecture</li>
          <li>UX Design</li>
          <li>Front End Development</li>
        </ul>
      </section>
      <section class="case-study">
        {{{include.caseStudy}}}
      </section>
    </main>
  </body>
</html>
