<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay Sylvester — Work History / Résumé</title>
    <meta name="description" content="I've led and contributed to just about every phase of the development lifecycle, including team management, information architecture, UX design, and full stack development.">
    <meta name="keywords" content="UI, UX, ux designer resume, ux designer cv, ux manager, ux director, front end developer">
    <link rel="stylesheet" type="text/css" href="/min/site.css?v={{config.cacheBuster.css}}">
    <script type="text/javascript" src="/min/site.js?v={{config.cacheBuster.js}}"></script>
  </head>
  <body data-controller="{{route.controller}}" data-action="{{route.action}}" data-view="{{route.view}}" data-renderer="{{route.renderer}}" data-rendered-view="{{route.renderedView}}" data-show="{{route.show}}" data-task="{{route.task}}" data-type="{{route.type}}" data-mode="{{config.citizen.mode}}">
    {{{include.header}}}
    <main>
      <h1>I'm pretty good at this.<br> I've been doing it a while.</h1>
      <p>
        I've led and contributed to just about every phase of the development lifecycle, including team management, information architecture, UX design, and full stack development.
      </p>
      <p class="download">
        <a href="/documents/resume/Jay-Sylvester-resume.pdf">Download my résumé (PDF)</a>
      </p>
      <section class="competencies">
        <h2>Core competencies</h2>
        <ul>
          <li>Accomplished manager and mentor of UX designers and UI developers</li>
          <li>Holistic strategist who balances business, design, and technical concerns</li>
          <li>Intuitive team builder adept at identifying critical needs and ideal candidates</li>
          <li>Vocal driver of product design process definition and implementation</li>
          <li>Insightful interaction designer with extensive web and mobile experience</li>
          <li>Proven web architect with focused expertise on front end development</li>
        </ul>
      </section>
      <section class="work-history">
        {{#each employers}}
          <section class="employer">
            <h2>{{job_title}}</h2>
            <h3>{{employer_name}}</h3>
            <p class="dates">{{employed_from_formatted}} to {{employed_to_formatted}}</p>
            <p class="description">{{job_description}}</p>
            {{#if company_url}}
              <nav class="actions">
                <a class="primary-action" href="/case-study/company/{{company_url}}">Read my {{employer_name}} case study</a>
              </nav>
            {{/if}}
          </section>
        {{/each}}
      </section>
    </main>
    {{{include.footer}}}
  </body>
</html>
