<article class="case-study {{company_url}}">
  <h3>{{{title}}}</h3>
  <section class="devices">
    <a href="/case-study/{{company_url}}" title="Read the full {{company_name}} case study.">
      <noscript>
        <img class="devices" src="https://res.cloudinary.com/tehinnernets/image/upload/f_auto,q_50/jaysylvester.com/case-studies/{{company_url}}/{{company_url}}-devices.png" alt="{{company_name}} products displayed on various devices (laptop, tablet, phone, etc.).">
      </noscript>
      <img class="devices" src="/images/placeholder-devices.svg" data-src="https://res.cloudinary.com/tehinnernets/image/upload/[parameters]/jaysylvester.com/case-studies/{{company_url}}/{{company_url}}-devices.png" alt="{{company_name}} products displayed on various devices (laptop, tablet, phone, etc.).">
    </a>
  </section>
  <p class="summary">{{{summary}}}</p>
  <nav>
    <a class="primary-action" href="/case-study/{{company_url}}" title="Read the full {{company_name}} case study.">Read my {{company_name}} case study</a>
  </nav>
</article>
