<article class="case-study callout {{company_url}}">
  <h3>{{{title}}}</h3>
  {{> screenGroup this}}
  <p class="summary">{{{summary}}}</p>
  <nav>
    <a class="primary-action" href="/case-study/{{company_url}}" title="Read the full {{company_name}} case study.">Read my {{company_name}} case study</a>
    <a class="secondary-action" href="/case-studies" title="Read all my case studies.">More case studies</a>
  </nav>
</article>
