<h1>Case Study: <span>{{{local.title}}}</span></h1>
<section class="about">
  {{{include.featuredScreens}}}
  <p class="summary">{{{local.summary}}}</p>
  <section class="content case-study {{local.company_url}}">
    {{{local.content}}}
  </section>
  {{{include.screens}}}
</section>
<nav>
  <a class="primary-action" href="/case-studies">Read more case studies</a>
</nav>
