<ul class="case-studies">
  {{#each caseStudies}}
    <li class="{{company_url}}">
      <a href="/case-study/company/{{company_url}}" title="Read the {{company_name}} case study.">
        <img class="logo" src="https://res.cloudinary.com/tehinnernets/image/upload/q_60,h_120/jaysylvester.com/case-studies/{{company_url}}/{{company_url}}-logo.png" alt="{{company_name}} logo">
      </a>
    </li>
  {{/each}}
</ul>
