<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay Sylvester's Portfolio — UX and Front End Developer</title>
    <meta name="description" content="Enjoy my dry process documentation, research data, ugly sketches, plain-looking wireframes, and half-baked prototypes.">
    <meta name="keywords" content="UI, UX, ux designer portfolio">
    <link rel="stylesheet" type="text/css" href="/min/site.css?v={{config.cacheBuster.css}}">
    <script type="text/javascript" src="/min/site.js?v={{config.cacheBuster.js}}"></script>
  </head>
  <body data-controller="{{route.controller}}" data-action="{{route.action}}" data-view="{{route.view}}" data-renderer="{{route.renderer}}" data-rendered-view="{{route.renderedView}}" data-show="{{route.show}}" data-task="{{route.task}}" data-type="{{route.type}}" data-mode="{{config.citizen.mode}}">
    {{{include.header}}}
    <main>
      <h1>A UX design manager's portfolio shouldn't be a bunch of pretty screens.</h1>
      <p>You should see their team's process documentation, research data, ugly sketches, boring wireframes, and half-baked prototypes that informed all the resulting pretty screens.</p>
      <section class="documents">
        <h2>Process diagrams, sitemaps, wireframes, audits, recommendations...</h2>
        <p>I've heard that variety is the spice of life. I created most of these documents, but some were a team effort; please ask if you have questions.</p>
        <ul>
          <li><a href="/documents/portfolio/Fitly-IA-UX-Specification-MVP.pdf">Fitly IA/UX Specification</a></li>
          <li><a href="/documents/portfolio/Grange-UX-Audit-V1-1.pdf">Grange Insurance UX Audit</a></li>
          <li><a href="/documents/portfolio/Columbus-Dispatch-Responsive-Design-Strategy.pdf">Columbus Dispatch Responsive Design Strategy</a></li>
          <li><a href="/documents/portfolio/Libbey-L-Sitemap-v6.pdf">Libbey Glass Intranet Sitemap</a></li>
          <li><a href="/documents/portfolio/Libbey-L-Wireframes.pdf">Libbey Glass Wireframes</a></li>
          <li><a href="/documents/portfolio/UX-Process-Definition-v1-5.pdf">UX Within a Production Workflow at Vidyo</a></li>
          <li><a href="/documents/portfolio/Vidyo-Neo-UX-Enhancements.pdf">Vidyo Neo UX Enhancements</a></li>
          <li><a href="/documents/portfolio/Vidyo-Neo-Keyboard-Shortcuts.pdf">Vidyo Neo Keyboard Shortcuts</a></li>
          <li><a href="/documents/portfolio/Senior-UX-Designer.pdf">Senior UX Designer job description</a></li>
          <li><a href="/documents/portfolio/Senior-Visual-Designer.pdf">Senior Visual Designer job description</a></li>
        </ul>
      </section>
      <section class="all-screens">
        <h2>Still want screens? Okay, fine.</h2>
        <p>Again, some of these are all me, some were started by me, some finished by me, and some are team output. <a href="/case-studies">Read my case studies</a> for details on my contributions to this work.</p>
      </section>
      {{{include.screens}}}
    </main>
    {{{include.footer}}}
  </body>
</html>
