<h1>Work History</h1>
<section class="content">
  <h2>I'm fairly good at this. I've been at it for a while.</h2>
  <p>
    I've led and contributed to just about every phase of the design-development lifecycle, including product strategy, discovery, user research, UX design, and full stack development.
  </p>
</section>
<section class="content resume">
  <h3><a href="/documents/resume/Jay-Sylvester-resume.pdf">Download My Résumé (PDF)</a></h3>
</section>
<section class="content competencies">
  <h3>Core Competencies</h3>
  <ul>
    <li>Accomplished manager and mentor of UX designers and front end developers</li>
    <li>Holistic strategist who balances business, design, and technical concerns</li>
    <li>Intuitive team builder, adept at identifying critical needs and ideal candidates</li>
    <li>Vocal driver of product design process definition and implementation</li>
    <li>Insightful interaction designer with extensive web and mobile experience</li>
    <li>Proven web architect with focused expertise on front end development</li>
  </ul>
</section>
<section class="content work-history">
  <h3>Full-Time Roles</h3>
  <p>In addition to the permanent positions listed below, I've consulted and freelanced throughout my career and am comfortable with project-based work.</p>
  {{#each local.employers}}
    <section class="employer">
      <h4>{{job_title}}</h4>
      <h5>{{employer_name}}</h5>
      {{#if employed_to_formatted}}
        <p class="dates">{{employed_from_formatted}} to {{employed_to_formatted}}</p>
      {{else}}
        <p class="dates">{{employed_from_formatted}} to Present</p>
      {{/if}}
      <p class="description">{{job_description}}</p>
      {{#if company_url}}
        <nav>
          <a class="primary-action" href="/case-study/{{company_url}}">Read my {{employer_name}} case study</a>
        </nav>
      {{/if}}
    </section>
  {{/each}}
</section>
